MONGODB_URI=
JWT_SECRET=
PORT=4000
NODE_ENV=development
CLIENT_URL=http://localhost:5173
SMTP_USER=
SMTP_PASSWORD=
SENDER_EMAIL=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=